/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after {
  clear: both;
}

html {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: 'Gilroy', Arial, Tahoma, sans-serif;
  color: #000;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

*,
*:active,
*:focus {
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #868686;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #868686;
  opacity: 1;
}

::placeholder {
  color: #868686;
  opacity: 1;
}

.page {
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 181px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

strong {
  font-weight: 700;
}

.button {
  display: inline-block;
  transition: all 0.3s ease-out;
  color: #284773;
  font-weight: bold;
  font-size: 18px;
  padding: 22px 40px;
  text-align: center;
  border-radius: 6px;
  background: #FFC700;
  box-shadow: 0px 4px 12px -1px #FFC700;
  line-height: 1.22;
  min-width: 252px;
}

.button:hover {
  background: #FFD600;
}

.button.blue-button {
  background: #0A8ED9;
  box-shadow: 0px 4px 12px -1px #0A8ED9;
  color: #fff;
}

.button.blue-button:hover {
  background: #38A8E8;
}

button.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  line-height: 1;
}

.clients-swipe {
  display: none;
}

/* header =================================================*/

header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(40, 71, 115, 0.12);
}

header.fixedtop .header-top {
  border-bottom-color: transparent;
}

header.fixedtop .header-top-content {
  height: 0;
}

.header-top {
  border-bottom: 1px solid #F3F3F3;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.header-top-content {
  height: 118px;
  transition: all 0.3s ease-out;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-logo {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.32;
  color: #000;
}

.main-logo img {
  width: 72px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
}

.main-logo span {
  max-width: 160px;
}

.header-phone {
  color: #284773;
  margin-left: 13px;
  margin-top: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-phone .tel {
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.header-phone .tel:hover {
  color: #0A8ED9;
}

.header-phone p {
  line-height: 1.2;
  margin-top: 5px;
}

.header-detail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
  line-height: 1.2;
}

.header-detail img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
}

.header-detail .title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 2px;
}

.header-detail p {
  color: #434343;
}

.header-bottom {
  padding: 20px 0;
}

.header-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1.3;
  margin: 0 -5px;
  font-weight: 600;
  font-size: 18px;
  color: #284773;
  text-align: center;
}

.header-menu li {
  margin: 0 5px;
}

.header-menu a {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-out;
}

.header-menu a.active,
.header-menu a:hover {
  border-bottom-color: #FFC700;
}

/* intro-section ==============================================*/

.intro-section {
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.intro-section:after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -3;
  width: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 25.11%, #F7F7F7 52.19%);
}

.intro-section:before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -2;
  width: 100%;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 81.31%);
}

.intro-image {
  right: 0;
  top: 0;
  height: calc(100% - 10px);
  position: absolute;
  z-index: -5;
  width: 100%;
  text-align: right;
}

.intro-image img {
  display: inline-block;
  height: 100%;
  min-height: 983px;
}

.intro-wave {
  position: absolute;
  z-index: -1;
  left: 0;
  margin-left: -5px;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  margin-bottom: -29px;
}

.intro-wave img {
  width: calc(100% + 10px);
}

.intro-content {
  max-width: 746px;
  padding-top: 118px;
  padding-bottom: 78px;
}

.intro-content h2 {
  margin-bottom: 57px;
  line-height: 1.02;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 75px;
  color: #0A8ED9;
  margin-bottom: 40px;
  line-height: 0.98;
}

h2 {
  font-weight: 900;
  font-size: 50px;
  color: #284773;
  margin-bottom: 25px;
  line-height: 1.18;
  padding: 0 10px;
}

h2 span {
  box-shadow: inset 0 -5px 0 #ffc700;
  padding: 0 10px;
  margin: 0 -10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.intro-detail {
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
  border-radius: 29px;
  padding: 44px 40px 42px;
  max-width: 557px;
}

.intro-detail .title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.067;
  color: #284773;
  margin-bottom: 14px;
}

.intro-detail .desc {
  color: #676767;
  line-height: 1.2;
  margin-bottom: 29px;
}

.intro-detail .bottom-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.intro-detail .button {
  margin-right: 26px;
}

.intro-detail .note {
  line-height: 1.2;
  font-weight: 700;
}

.intro-detail .note span {
  color: #0A8ED9;
}

/* why-me-section ==============================================*/

.why-me-section {
  padding: 36px 0 66px;
}

.why-me-list {
  padding-top: 41px;
  margin: 0 -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.why-me-list li {
  padding: 0 15px;
  width: 25%;
  margin-bottom: 30px;
}

.why-me-list .image {
  height: 67px;
  position: relative;
  z-index: 2;
  margin-bottom: 34px;
}

.why-me-list .image:after {
  content: "";
  width: 87px;
  height: 90px;
  background: url("../images/why-me-ellipse.svg") center no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0;
}

.why-me-list p {
  line-height: 1.4;
}

/* profit-section ==============================================*/

.profit-section {
  background: #F9FBFF;
  padding: 85px 0 25px;
}

.title-desc {
  margin-bottom: 48px;
  color: #284773;
  font-size: 20px;
  line-height: 1.4;
}

.profit-list {
  margin: 0 -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 25px;
}

.profit-list li {
  padding: 0 15px;
  width: 33.333%;
  margin-bottom: 81px;
}

.profit-list .image {
  height: 197px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

.profit-list .image:after {
  content: "";
  width: 226px;
  height: 244px;
  background: url("../images/profit-ellipse.svg") center no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: -1;
  top: -26px;
  left: 50%;
  margin-left: -113px;
}

.profit-list .image img {
  max-width: 100%;
}

.profit-list p {
  line-height: 1.4;
  font-weight: 500;
}

.profit-list strong {
  display: block;
  font-size: 20px;
}

/* specialties-section ==========================================*/

.specialties-section {
  background: #0A8ED9;
  padding: 108px 0 244px;
  color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.specialties-content {
  margin-left: 50%;
  width: 50%;
  padding-left: 15px;
}

.specialties-content .button {
  min-width: 156px;
}

.specialties-content h2 {
  color: #fff;
}

.specialties-content .note {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.06;
  margin-bottom: 31px;
}

.specialties-list {
  margin: 20px -15px 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 32px;
  max-width: 460px;
}

.specialties-list li {
  margin: 0 15px 9px;
  width: calc(50% - 30px);
  padding-left: 21px;
  position: relative;
}

.specialties-list li:after {
  content: "";
  left: 0;
  top: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #096BA3;
  position: absolute;
}

.specialties-images {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: 78px;
  z-index: -2;
  width: 590px;
}

.specialties-images .image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.specialties-icons {
  position: absolute;
  bottom: 100%;
}

.specialties-icons.left {
  right: 50%;
}

.specialties-icons.right {
  left: 50%;
}

.specialties-icons.icon-1 {
  margin-bottom: 30px;
  margin-right: 74px;
}

.specialties-icons.icon-2 {
  margin-bottom: 21px;
  margin-left: -21px;
}

.specialties-icons.icon-3 {
  margin-bottom: -14px;
  margin-left: 97px;
}

.specialties-icons.icon-4 {
  margin-bottom: -90px;
  margin-right: 124px;
}

.specialties-icons.icon-5 {
  margin-bottom: -63px;
  margin-right: 21px;
}

.specialties-icons.icon-6 {
  margin-bottom: -91px;
  margin-left: 178px;
}

.specialties-icons.icon-7 {
  margin-bottom: -182px;
  margin-right: 176px;
}

.specialties-icons.icon-8 {
  margin-bottom: -222px;
  margin-right: 47px;
}

.specialties-icons.icon-9 {
  margin-bottom: -220px;
  margin-left: 193px;
}

.specialties-icons.icon-10 {
  margin-bottom: -347px;
  margin-right: 122px;
}

.specialties-wave {
  position: absolute;
  z-index: -1;
  left: 0;
  margin-left: -5px;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  margin-bottom: -26px;
}

.specialties-wave img {
  width: calc(100% + 10px);
}

/* scheme-section ==========================================*/

.scheme-section {
  padding: 65px 0 26px;
  position: relative;
  z-index: 3;
}

.scheme-man {
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 50%;
  margin-left: 456px;
}

.scheme-list {
  margin: 0 -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 51px;
}

.scheme-list li {
  margin: 0 15px 68px;
  width: calc(33.333% - 30px);
  position: relative;
  padding-left: 105px;
}

.scheme-list .number {
  position: absolute;
  top: -9px;
  left: 6px;
  font-weight: 900;
  font-size: 60px;
  color: #CEDAED;
}

.scheme-list .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.scheme-list p {
  color: #3F3F3F;
  line-height: 1.56;
}

/* documents-section ==========================================*/

.documents-section {
  padding: 85px 0 148px;
  position: relative;
  z-index: 2;
  background: #F9FBFF;
}

.documents-type {
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 20px;
  padding-top: 16px;
}

.documents-gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -6px 7px;
}

.documents-gallery li {
  padding: 0 6px;
  margin-bottom: 12px;
}

.documents-gallery-block {
  display: inline-block;
}

.documents-gallery-block:hover {
  cursor: zoom-in;
}

.documents-gallery-block img {
  max-width: 100%;
}

/* wants-diplom-section =====================================*/

.wants-diplom-section {
  background: #E9F1FF;
  position: relative;
  z-index: 3;
  padding: 30px 0 76px;
}

h3 {
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 36px;
  color: #284773;
  line-height: 1.02;
}

.wants-diplom-wave {
  position: absolute;
  z-index: -2;
  left: 0;
  margin-left: -5px;
  pointer-events: none;
  width: 100%;
  bottom: 100%;
  margin-bottom: -3px;
}

.wants-diplom-wave img {
  width: calc(100% + 10px);
}

.wants-diplom-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.wants-diplom-image img {
  display: block;
  max-width: 100%;
}

/* who-study-section =====================================*/

.who-study-section {
  padding: 96px 0 37px;
}

.who-study-list {
  margin: 0 -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 40px;
}

.who-study-list li {
  margin: 0 15px 46px;
  width: calc(50% - 30px);
  position: relative;
  padding-left: 74px;
}

.who-study-list .image {
  position: absolute;
  left: 0;
  top: 7px;
}

.who-study-list .title {
  line-height: 1.4;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.who-study-list p {
  color: #3F3F3F;
  line-height: 1.56;
}

/* admission-section ========================================*/

.admission-section {
  padding: 86px 0 47px;
  background: #FAFAFA;
}

.admission-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
  text-align: center;
  padding-top: 5px;
}

.admission-list li {
  width: 25%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.admission-list .image {
  height: 151px;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.admission-list .image:after {
  content: "";
  width: 217px;
  height: 219px;
  background: url("../images/admission-ellipse.svg") center no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: -1;
  top: -26px;
  left: 50%;
  margin-left: -108px;
}

.admission-list .image img {
  max-width: 100%;
}

.admission-list p {
  color: #6F6F6F;
  margin-top: 1px;
  line-height: 1.4;
}

.admission-list .title {
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
}

.admission-consult {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(40, 71, 115, 0.12);
  border-radius: 29px;
  padding: 29px 27px 36px;
}

.admission-consult .button {
  min-width: 1px;
  width: 100%;
  padding: 22px;
}

.admission-consult .note {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  color: #284773;
  margin-bottom: 26px;
}

.admission-consult strong {
  display: block;
  font-size: 22px;
}

/* clients-section ============================================*/

.clients-section {
  padding: 83px 0 21px;
}

.clients-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0 -30px;
  padding-top: 15px;
  min-height: 780px;
}

.clients-list li {
  padding: 0 30px;
  margin-bottom: 64px;
}

/* contacts-section =========================================*/

.contacts-section {
  position: relative;
  z-index: 4;
  background: #0A8ED9;
  padding: 180px 0 112px;
  color: #fff;
}

.contacts-content {
  max-width: 534px;
}

.contacts-content h2 {
  color: #fff;
}

.contacts-content .title-desc {
  color: #fff;
  margin-right: -135px;
  padding-left: 8px;
  padding-top: 4px;
}

.contacts-wave {
  position: absolute;
  z-index: -2;
  left: 0;
  margin-left: -5px;
  pointer-events: none;
  width: 100%;
  top: 0;
  margin-top: -3px;
}

.contacts-wave img {
  width: calc(100% + 10px);
}

.simple-form input,
.simple-form textarea {
  display: block;
  width: 100%;
  transition: border-color 0.3s ease-out;
  height: 66px;
  padding: 0 31px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Gilroy', Arial, Tahoma, sans-serif;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #CEDAED;
}

.simple-form input:focus,
.simple-form textarea:focus {
  border: 2px solid #FFC700;
  padding: 0 30px;
}

.simple-form textarea {
  resize: none;
  height: 172px;
  line-height: 1.2;
  padding: 17px 31px;
  border-radius: 6px;
}

.simple-form textarea:focus {
  padding: 16px 30px;
}

.simple-form.white-form input,
.simple-form.white-form textarea {
  border-color: #fff;
}

.simple-form.white-form input:focus,
.simple-form.white-form textarea:focus {
  border-color: #FFC700;
}

.simple-form .input-block {
  margin-bottom: 30px;
}

.simple-form .inputs-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -15px;
}

.simple-form .inputs-flex .input-block {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}

.simple-form .inputs-flex .width-50 {
  width: calc(50% - 30px);
}

.simple-form .inputs-flex .width-33 {
  width: calc(33.333% - 30px);
}

.simple-form .button {
  height: 66px;
  padding: 0 50px;
  min-width: 1px;
}

.contacts-form .button {
  margin-top: 13px;
}

.contacts-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  margin-left: 20px;
}

.contacts-image img {
  display: block;
  max-width: 100%;
}

/* footer ===========================================*/

footer {
  background: #0A8ED9;
  border-top: 1px solid #FFFFFF;
  color: #fff;
  position: relative;
  z-index: 5;
}

.footer-content {
  padding: 29px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.footer-phone {
  font-weight: bold;
  font-size: 18px;
  margin-left: 24px;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-detail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.footer-detail:nth-last-of-type(1) {
  margin-left: auto;
}

.footer-detail img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  filter: brightness(0) invert(1);
  max-width: 20px;
  max-height: 20px;
}

.footer-detail strong {
  font-size: 19px;
}

/* modal-form ========================================*/

.fancybox-bg {
  background: #030E1D;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.76;
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
  cursor: default;
}

.simple-modal {
  padding: 0;
  border-radius: 40px;
  background: transparent;
  overflow: visible;
}

.simple-modal .fancybox-button {
  right: -27px;
  top: -27px;
  height: 27px;
  width: 27px;
  padding: 0;
  background: url("../images/close.svg") center no-repeat;
  background-size: 100% auto;
  transition: all 0.3s ease-out;
}

.simple-modal .fancybox-button:hover {
  opacity: 0.6;
}

.simple-modal .fancybox-button svg {
  display: none;
}

.modal-form .button {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-inner {
  padding-left: 338px;
  position: relative;
}

.modal-image {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 338px;
}

.modal-image img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  border-radius: 40px 0 0 40px;
}

.modal-content {
  padding: 40px;
  background: #fff;
  border-radius: 0 40px 40px 0;
}

.modal-content h4 {
  font-weight: 900;
  font-size: 30px;
  color: #284773;
  line-height: 1.07;
  margin-bottom: 16px;
}

.modal-content .desc {
  color: #676767;
  line-height: 1.2;
  margin-bottom: 23px;
}

/*================= АНИМАЦИИ ======================*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInBottomRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInBottomRight {
  animation-name: fadeInBottomRight;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

/* ========================== MEDIA ===========================*/

@media (min-width: 0) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 1000px;
  }

  .mobile-buter,
  .mobile-overlay,
  .header-mobile {
    display: none !important;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1220px;
  }
}

@media (max-width: 1259px) {
  .header-menu {
    font-size: 15px;
  }

  .header-detail {
    font-size: 15px;
    margin: 0 10px;
  }

  .header-detail .title {
    font-size: 17px;
  }

  .header-phone {
    font-size: 14px;
    margin-left: 10px;
  }

  .header-phone .tel {
    font-size: 18px;
  }

  .main-content {
    padding-top: 178px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 46px;
  }

  .wants-diplom-image {
    margin-left: -72px;
  }

  .admission-list {
    margin: 0 -10px;
  }

  .admission-list li {
    padding: 0 10px;
  }

  .admission-consult {
    padding: 30px 20px;
  }

  .footer-detail {
    font-size: 15px;
  }

  .footer-detail strong {
    font-size: 17px;
  }

  .clients-list {
    min-height: 992px;
  }

  .specialties-wave {
    margin-bottom: -4px;
  }

  .intro-wave {
    margin-bottom: -6px;
  }
}

@media (max-width: 1019px) {
  html {
    font-size: 15px;
  }

  header.fixedtop .header-top-content {
    height: 70px;
  }

  header.fixedtop .main-logo {
    font-size: 12px;
  }

  header.fixedtop .main-logo img {
    width: 50px;
    margin-right: 12px;
  }

  .main-logo {
    transition: all 0.3s ease-out;
  }

  .main-logo img {
    transition: all 0.3s ease-out;
  }

  .mobile-buter {
    width: 40px;
    display: block;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .mobile-buter:hover i {
    background: #FFC700;
  }

  .mobile-buter i {
    display: block;
    height: 2px;
    width: 100%;
    background: #284773;
    transition: all 0.3s ease-out;
    margin: 9px 0;
  }

  .header-top {
    border-bottom: none;
  }

  .header-top .header-detail {
    display: none;
  }

  .header-top .header-phone {
    display: none;
  }

  .header-top-content {
    height: 104px;
  }

  .header-bottom {
    display: none;
  }

  .main-content {
    padding-top: 104px;
  }

  .mobile-overlay {
    background: #030E1D;
    opacity: 0.76;
    position: fixed;
    z-index: 51;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  .header-mobile {
    position: fixed;
    z-index: 52;
    height: 100vh;
    overflow: auto;
    width: 290px;
    top: 0;
    right: 0;
    background: #F9FBFF;
    display: none;
  }

  .header-mobile-close {
    position: absolute;
    right: 17px;
    top: 18px;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .header-mobile-close:hover {
    opacity: 0.6;
  }

  .header-phone {
    color: #fff;
    background: #0A8ED9;
    font-size: 16px;
    padding: 15px 25px;
    margin: 0;
  }

  .header-phone .tel {
    font-size: 18px;
  }

  .header-phone .tel:hover {
    color: #fff;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  .intro-content {
    padding-top: 70px;
  }

  .intro-image img {
    min-height: 1px;
  }

  .mobile-header-menu {
    border-top: 1px solid #F3F3F3;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    background: #fff;
  }

  .mobile-header-menu li {
    border-bottom: 1px solid #F3F3F3;
  }

  .mobile-header-menu a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 47px;
    padding: 5px 25px;
    color: #284773;
    transition: all 0.3s ease-out;
  }

  .mobile-header-menu a:hover {
    color: #FFC700;
  }

  .header-contacts {
    padding: 15px 25px;
    font-size: 16px;
    color: #434343;
    line-height: 1.2;
  }

  .header-contacts li {
    margin-bottom: 17px;
  }

  .header-contacts li:last-child {
    margin-bottom: 0;
  }

  .header-contacts .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    color: #000;
  }

  .why-me-section {
    padding: 30px 0 35px;
  }

  .why-me-list {
    padding-top: 25px;
  }

  .title-desc {
    font-size: 18px;
  }

  .specialties-content {
    width: 65%;
    margin-left: 35%;
  }

  .specialties-images {
    margin-right: 107px;
  }

  .scheme-list li {
    width: calc(50% - 30px);
    margin-bottom: 40px;
  }

  .admission-list li {
    width: 50%;
  }

  .clients-list {
    min-height: 500px;
    margin: 0 -20px;
    padding-top: 40px;
    min-height: 1100px;
  }

  .clients-list li {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .contacts-section {
    padding: 135px 0 110px;
  }

  .contacts-content .title-desc {
    margin-right: 0;
  }

  .footer-phone {
    margin-left: 0;
  }

  .footer-detail {
    font-size: 15px;
  }

  .footer-detail:nth-last-of-type(1) {
    margin: 0 auto;
  }

  .footer-detail strong {
    font-size: 17px;
    display: block;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .modal-image {
    display: none;
  }

  .modal-inner {
    padding-left: 0;
  }

  .modal-content {
    border-radius: 20px;
  }

  .simple-modal .fancybox-button {
    right: 12px;
    top: 12px;
    width: 18px;
    height: 18px;
    filter: brightness(0);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
  }

  .intro-detail {
    padding: 35px 30px;
  }

  .why-me-list li {
    width: 50%;
  }

  .profit-section {
    padding: 50px 0 20px;
  }

  .profit-list {
    padding-top: 0;
  }

  .profit-list li {
    width: 50%;
    margin-bottom: 45px;
  }

  .profit-list .image {
    margin-bottom: 15px;
  }

  .specialties-content {
    width: 100%;
    margin-left: 0;
  }

  .specialties-section {
    padding: 55px 0 480px;
  }

  .specialties-icons {
    display: none;
  }

  .specialties-images {
    width: 100%;
    margin-right: 0;
    right: 0;
  }

  .specialties-list {
    padding-top: 20px;
    margin-bottom: 30px;
  }

  .scheme-section {
    padding-top: 45px;
  }

  .scheme-list {
    padding-top: 20px;
  }

  .scheme-list li {
    padding-left: 64px;
    margin-bottom: 30px;
  }

  .scheme-list .number {
    font-size: 40px;
    top: -3px;
    left: 0;
  }

  .scheme-list .title {
    font-size: 17px;
  }

  .wants-diplom-image {
    display: none;
  }

  .documents-section {
    padding: 60px 0;
  }

  .documents-gallery .width2 {
    width: 100%;
    -ms-flex-order: -2;
    order: -2;
  }

  .documents-gallery-block {
    height: 100%;
    width: 100%;
  }

  .documents-type {
    margin-bottom: 24px;
  }

  .wants-diplom-section {
    padding: 50px 0;
    text-align: center;
  }

  .who-study-section {
    padding: 60px 0 25px;
  }

  .who-study-list {
    padding-top: 25px;
  }

  .who-study-list li {
    padding-left: 0;
    padding-top: 60px;
    margin-bottom: 35px;
  }

  .who-study-list .image {
    top: 0;
  }

  .admission-section {
    padding: 60px 0 10px;
  }

  .clients-list {
    padding: 0;
    min-height: 175px;
    overflow: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 -10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .clients-list li {
    padding: 0;
    margin-bottom: 0;
    margin-right: 35px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .clients-section {
    padding: 60px 0 40px;
  }

  .clients-swipe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 16px;
  }

  .clients-swipe img {
    width: 20px;
    margin-left: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .contacts-image {
    display: none;
  }

  .contacts-section {
    padding: 115px 0 60px;
  }

  .contacts-content h2 {
    max-width: 410px;
  }

  .footer-content {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-detail {
    margin: 0 auto 20px !important;
    text-align: center;
  }

  .footer-detail img {
    display: none;
  }

  .footer-detail strong {
    margin-bottom: 4px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 30px 25px 35px;
    text-align: center;
  }

  .modal-content h4 {
    margin-bottom: 12px;
  }

  .modal-content .desc {
    margin-bottom: 18px;
  }

  .documents-gallery li {
    width: 50%;
  }

  .documents-gallery-block {
    text-align: center;
  }

  .main-logo {
    font-size: 15px;
  }

  .mobile-buter {
    width: 36px;
  }

  h1 {
    text-align: center;
    font-size: 31px;
    margin-bottom: 25px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
  }

  .intro-section {
    padding-bottom: 400px;
  }

  .intro-section:after {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 33.09%, #F7F7F7 44.5%);
  }

  .intro-section:before {
    display: none;
  }

  .intro-content {
    padding: 35px 0 0;
  }

  .intro-content h2 {
    margin-bottom: 30px;
  }

  .intro-detail {
    text-align: center;
    margin: 0 -10px;
  }

  .intro-detail .title {
    font-size: 20px;
  }

  .intro-detail .desc {
    margin-bottom: 20px;
  }

  .intro-detail .bottom-flex {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .intro-detail .button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .button {
    min-width: 200px;
  }

  .intro-image {
    height: 407px;
    top: auto;
    bottom: 0;
  }

  .intro-image img {
    width: 100%;
    object-fit: cover;
    object-position: right center;
  }

  .why-me-section {
    padding-bottom: 20px;
  }

  .why-me-list {
    text-align: center;
  }

  .why-me-list .image {
    margin-bottom: 20px;
  }

  .title-desc {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  .profit-list .image {
    height: 150px;
    line-height: 150px;
  }

  .profit-list .image:after {
    content: "";
    width: 180px;
    height: 200px;
    background: url("../images/profit-ellipse.svg") center no-repeat;
    background-size: 100% auto;
    position: absolute;
    z-index: -1;
    top: -26px;
    left: 50%;
    margin-left: -90px;
  }

  .profit-list .image img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .profit-list strong {
    font-size: 16px;
  }

  .specialties-list {
    padding-top: 10px;
  }

  .specialties-list li {
    width: calc(100% - 30px);
  }

  .specialties-content .note {
    font-size: 18px;
    text-align: center;
  }

  .specialties-content .button {
    width: 100%;
  }

  .specialties-section {
    padding-bottom: 340px;
  }

  .specialties-images {
    width: 295px;
    right: 50%;
    margin-right: -147px;
  }

  .scheme-list li {
    padding-left: 0;
    padding-top: 47px;
  }

  .scheme-list .number {
    top: 0;
    left: 0;
  }

  .documents-type {
    font-size: 18px;
    text-align: center;
  }

  h3 {
    font-size: 22px;
  }

  .wants-diplom-section .button {
    width: 100%;
  }

  .who-study-list .title {
    font-size: 16px;
  }

  .admission-list li {
    width: 100%;
    margin-bottom: 35px;
  }

  .admission-list .image {
    margin-bottom: 20px;
  }

  .clients-swipe {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contacts-section {
    padding-top: 100px;
  }

  .contacts-content h2 {
    max-width: 310px;
    margin: 0 auto 20px;
  }

  .simple-form input,
  .simple-form textarea {
    height: 56px;
    padding: 0 21px;
    font-size: 16px;
  }

  .simple-form input:focus,
  .simple-form textarea:focus {
    padding: 0 20px;
  }

  .simple-form textarea {
    padding: 17px 21px;
  }

  .simple-form textarea:focus {
    padding: 16px 20px;
  }

  .simple-form .input-block {
    margin-bottom: 20px;
  }

  .simple-form .inputs-flex .width-50 {
    width: calc(100% - 30px);
  }

  .simple-form .inputs-flex .width-33 {
    width: calc(100% - 30px);
  }

  .simple-form .button {
    height: 56px;
    padding: 0 35px;
    width: 100%;
  }
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}